
<div class="take-delivery">
 <div class="status">
   <h2>您已成功付款</h2>
   <div class="successInfo">
     <ul>
       <li>付款金额<em>¥


       <?php echo $_SESSION['total']['total']?>

       </em></li>
     
      <?php foreach($_SESSION['address'] as $val){?> 
       <div class="user-info">
         <p>收货人：<?php echo $val['name'] ?> </p>
         <p>联系电话：<?php echo $val['tel'] ?></p>
         <p>收货地址：<?php echo $val['address'] ?></p>
       </div>
       <?php }  ?>
             请认真核对您的收货信息，如有错误请联系客服
                               
     </ul>

     <div class="option">
       <span class="info">您可以</span>
        <a href="./index.php?c=order&a=order" class="J_MakePoint">查看<span>已买到的宝贝</span></a>
        <a href="./index.php?c=order&a=orderinfo&oid=<?php echo $oid ?>" class="J_MakePoint">查看<span>交易详情</span></a>
     </div>
    </div>
  </div>
</div>





</body>
</html>
